#planets {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}


.card {
  height: 400px;
  width: 400px;
  margin-bottom: 4em;
  background-color: black;
  *{pointer-events: none};
}


h3 {
  text-align: center;
  padding-bottom: 1em;
  color: white;
  margin-top: 180px;
}

img {
  height: 400px;
}

p {
  color: white;
}

